@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Escala gerada a partir do novo palette.txt */
  --color-brand-300: #79C3D1; /* Sky Blue (Light) */
  --color-brand-400: #65AF9D; /* Mix entre Sky e Seagrass */
  --color-brand-500: #519B89; /* Seagrass */
  --color-brand-600: #396A5E; /* Deep Teal */
  --color-brand-700: #304A46; /* Mix Teal/Shadow */
  --color-brand-800: #272A31; /* Shadow Grey */
  --color-brand-900: #010302; /* Black da paleta */
  
  --color-brand-gray: #B9B9B9; 
  --color-brand-light: #F5F5F5; 
}

body {
  background-color: #010302; 
  color: #ffffff;
  overflow-x: hidden;
}